.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 5s ease;
}

button {
  border: none;
  background: rgb(236, 141, 157);
  outline: none;
  padding: 8px 24px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all .25s ease;
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.background.visible {
  background: rgba(0, 0, 0, .0);
}

.background.blur {
  animation: blur 5s ease forwards;
}

@keyframes blur {
  0% {
    backdrop-filter:blur(10px) saturate(180%);
  }

  50% {
    backdrop-filter:blur(5px)  saturate(150%);
  }

  100% {
    backdrop-filter:blur(0px)  saturate(130%);
  }
}

body{
  overflow: hidden;
  margin: 0;
}